//custom colors
$primary: #a6937d;
$light: #e8d1c5;
$secondary: #e8d1c5;
$body-color: #212529;
$border-color: #a6937d;

@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Sedan:ital@0;1&display=swap");

body {
  background-image: url("https://t3.ftcdn.net/jpg/05/93/29/26/360_F_593292637_PlSmqUgrR2fN5OhyRAv0dUZeiJtAzXCe.jpg");
  background-size: 15%;
  background-repeat: no-repeat; 
  background-position: top left; 
}

header h1,
#title,
.title {
  font-family: "Sedan", serif;
  cursor: pointer; 
}

header h2 {
  font-family: "Alex Brush";
}
